@import "variables.scss";
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  height: 100vh;
}
.container {
  width: 1440px;
  display: flex;
  margin: 0 auto;
  background-color: #fff;
  &__section-left {
    width: 33.5%;
    background-image: url("./images/bg-main-desktop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(column, flex-start, stretch, 0);
    &__card-section {
      width: 447px;
      height: 245px;
      border-radius: 10px;
    }
    &__card-front {
      background-image: url("./images/bg-card-front.png");
      position: relative;
      top: 187px;
      left: 164px;
      z-index: 2;
    }
    &__card-back {
      position: relative;
      top: 224px;
      left: 258px;
      background-image: url("./images/bg-card-back.png");
      z-index: 1;
    }
  }
}

.section-right {
  width: calc(100% - 33.5%);
  @include flex(row, flex-end, center, 0);
  padding-right: 227px;
  &__form {
    width: 400px;
    height: 369px;
    @include flex(column, center, center, 0);
    padding: 9.5px;
    &__form-group {
      width: 100%;
      margin-bottom: 15px;
      @include flex(column, flex-start, stretch, 0);
    }
    &__lower-section {
      @include flex(row, flex-start, flex-start, 10px);
    }
    &__form-btn {
      width: 100%;
      border: 1px solid #dfdee0;
      font-size: 18px;
      font-weight: 500;
      padding: 15px 156px;
      background-color: #21092f;
      color: #fff;
      border-radius: 8px;
      margin-top: 40px;
    }
  }
}
.input-case {
  width: 100%;
  border: 1px solid #dfdee0;
  padding: 11px 191px 11px 16px;
  border-radius: 8px;
}
.date-section {
  width: 60%;
}

.date-input {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.date-case {
  width: 80px;
  border: 1px solid #dfdee0;
  padding: 11px 32px 11px 16px;
  border-radius: 8px;
}
.cvv-case {
  width: 191px;
  border: 1px solid #dfdee0;
  padding: 11px 109px 11px 16px;
  border-radius: 8px;
}
.form-label {
  text-transform: uppercase;
}

// .form-group {
//   margin-bottom: 15px;
// }

// label {
//   font-weight: bold;
// }

// input {
//   padding: 8px;
//   width: 100%;
//   box-sizing: border-box;
//   border: 1px solid #ccc;
//   border-radius: 4px;
// }

// button {
//   padding: 10px;
//   background-color: #007bff;
//   color: #fff;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
// }

// button:hover {
//   background-color: #0056b3;
// }
