@import "variables.scss";

body {
  display: flex;
  height: 100vh;
}
.container {
  width: 1440px;
  display: flex;
  margin: 0 auto;
  background-color: #fff;
  &__section-left {
    width: 33.5%;
    background-image: url("./images/bg-main-desktop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(column, flex-start, stretch, 0);
    &__card-section {
      width: 447px;
      height: 245px;
      border-radius: 10px;
    }
    &__card-front {
      background-image: url("./images/bg-card-front.png");
      position: relative;
      top: 187px;
      left: 164px;
      z-index: 2;
    }
    &__card-back {
      position: relative;
      top: 224px;
      left: 258px;
      background-image: url("./images/bg-card-back.png");
      z-index: 1;
    }
  }
}
.section-right {
  width: calc(100% - 33.5%);
  @include flex(row, flex-end, center, 0);
  padding-right: 227px;
  &__form {
    display: none;
    width: 400px;
    height: 369px;
    @include flex(column, center, center, 0);
    padding: 9.5px;
    &__form-group {
      width: 100%;
      margin-bottom: 15px;
      @include flex(column, flex-start, stretch, 0);
    }
    &__lower-section {
      @include flex(row, flex-start, flex-start, 10px);
    }
    &__form-btn {
      width: 100%;
      border: 1px solid #dfdee0;
      @include font(#fff, 18px, 500, normal);
      padding: 15px 156px;
      background-color: #21092f;
      border-radius: 8px;
      margin-top: 40px;
    }
  }
}
.complete-section {
  width: 400px;
  height: 369px;
  &__content {
    @include flex(column, center, center, 0);
  }
  &__logo {
    padding-bottom: 35px;
  }
  &__title {
    @include font(#000, 28px, 500, 3.422px);
    padding-bottom: 16px;
  }
  &__description {
    @include font(#8f8694, 18px, 500, normal);
    padding-bottom: 48px;
  }
}
.input-case {
  width: 100%;
  border: 1px solid #dfdee0;
  padding: 11px 191px 11px 16px;
  border-radius: 8px;
}
.date-section {
  width: 60%;
}
.date-input {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.date-case {
  width: 80px;
  border: 1px solid #dfdee0;
  padding: 11px 32px 11px 16px;
  border-radius: 8px;
}
.cvv-case {
  width: 191px;
  border: 1px solid #dfdee0;
  padding: 11px 109px 11px 16px;
  border-radius: 8px;
}
.form-label {
  text-transform: uppercase;
  font-family: "Space Grotesk", sans-serif;
}
.logo-card {
  padding: 28px 0 0 32px;
}
.cc-number {
  @include font(#fff, 28px, 500, 3.422px);
  text-align: center;
  margin-top: 64px;
}
.cc-lower-text {
  @include font(#fff, 14px, 500, 2px);
  @include flex(row, space-evenly, flex-start, 150px);
  text-transform: uppercase;
  margin-top: 25.5px;
}
.CVV-number {
  @include font(#fff, 14px, 500, 2px);
  margin: 111px 57px 116px 363px;
}
// .form-group {
//   margin-bottom: 15px;
// }

// label {
//   font-weight: bold;
// }

// button:hover {
//   background-color: #0056b3;
// }
